#startpage {
	/* display: flex; */
	text-align: center;
}

#startpage h1 {
	font-size: 2rem;
	padding: 2rem;
}

#startpage p {
	padding-bottom: 1rem;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
nav a {
	text-decoration: none;
	color: rgb(87, 39, 111);
}

button {
	background-color: rgb(157, 71, 200);
	border-radius: 5px;
	border-color: rgb(87, 39, 111);
	color: white;
	padding: 0 0.2rem;
}

button:hover {
	background-color: rgb(173, 113, 204);
	border-color: rgb(157, 71, 200);
	cursor: pointer;
}
