/*
CSS DIRECTORY
	1. =MAIN   
	2. =NAV
    3. =HIGHSCORES
*/

/*  ===============
    MAIN 
    =============== */
#startpage {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

#startpage h1 {
	font-size: 1.5rem;
	padding: 1rem;
}

#startpage p {
	padding-bottom: 1rem;
}

button {
	background-color: rgb(157, 71, 200);
	border-radius: 5px;
	border-color: rgb(87, 39, 111);
	color: white;
	padding: 0 0.2rem;
}

button:hover {
	background-color: rgb(173, 113, 204);
	border-color: rgb(157, 71, 200);
	cursor: pointer;
}

.questionButtons {
	display: flex;
	margin: 0.5rem;
}

#answersContainer {
	padding: 0.5rem;
}

#askingQuestion {
	text-align: left;
}

#showAnswer {
	color: gray;
	font-style: italic;
	margin: 0 auto;
	max-width: 600px;
}

/*  ===============
    NAV 
    =============== */
nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
nav a {
	text-decoration: none;
	color: rgb(87, 39, 111);
}

/*  ===============
    HIGHSCORES
    =============== */
.allDone {
	text-align: left;
}

#finalScore {
	padding: 1rem 0;
	font-size: 1rem;
}

#enterInitials {
	font-size: 1rem;
}
